---
http_interactions:
- request:
    method: post
    uri: https://lngnoticeboard.onegov.nsw.gov.au/lngnoticeboard/v1/applicationsearch/perform
    body:
      encoding: UTF-8
      string: '{"paginationCriteria":{"currentPage":1,"pageSize":25},"type":"Advanced","criteria":[{"type":"PostedDate","condition":{"start":"2026-07-14","end":"2026-08-11"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"searchID":957861,"page":1,"pageCount":18,"resultCount":443,"resultsPerPage":25,"exportPageApplicationsLink":"/lngnoticeboard/v1/ApplicationSearch/957861/1/applications?x-correlation-id=4755a7aa-9cba-4375-8e1a-04a64bb96ada-957861-1","exportSearchResultApplicationsLink":"/lngnoticeboard/v1/ApplicationSearch/957861/applications?x-correlation-id=a9d430db-9eda-4d98-b8d3-c462b49f450d-957861","exportPageAttachmentsLink":"/lngnoticeboard/v1/ApplicationSearch/957861/1/attachments?x-correlation-id=f3518867-eb28-45bc-b63f-acb6327567b5-957861-1","results":[{"id":490837,"name":"Vanilla
        Bean","form":"AM0321","oldName":"Vanilla Bean","address":"109 Bentinck St,
        BATHURST NSW 2795","application":"SR0001551298","type":"Liquor licence transfer
        - with licensee consent - on premises","status":"Under assessment","posted":"11/08/2026","latitude":-33.42054,"longitude":149.58044,"lga":"Bathurst
        Regional","sa2":"Bathurst - South","pac":"CHIFLEY PD","applicationAttachmentsLink":"/lngnoticeboard/v1/Application/SR0001551298/attachments?x-correlation-id=ce7303c8-6b02-4a54-a9de-352902db6647-SR0001551298","documents":[{"type":"Notices","attachmentID":86015,"link":"/lngnoticeboard/v1/Attachment/id/490837/19892124?x-correlation-id=c2a1b33e-c88e-424b-963c-707d7bb7b9d8-19892124","mvCattachmentID":19892124,"isVisible":true,"sourceSystem":"Online"}],"history":[{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"Approved"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"Approved"},{"date":"11/08/2026","status":"Under
        assessment"}],"eventCount":0,"events":[],"submissionClose":"10/09/2026","isExpanded":false,"ilgaReviewableFlag":false,"closingType":"Submission
        period end date","closing":"10/09/2026"},{"id":490846,"name":"Charcoal Inn
        Hotel","form":"AM0321","oldName":"Charcoal Inn Hotel","address":"Hare St,
        CASINO NSW 2470","application":"SR0001553527","type":"Liquor licence transfer
        - with licensee consent - hotel","status":"Under assessment","posted":"11/08/2026","latitude":-28.871637,"longitude":153.04382,"lga":"Richmond
        Valley","sa2":"Casino","pac":"RICHMOND PD","applicationAttachmentsLink":"/lngnoticeboard/v1/Application/SR0001553527/attachme[...]
- request:
    method: post
    uri: https://lngnoticeboard.onegov.nsw.gov.au/lngnoticeboard/v1/applicationsearch/page
    body:
      encoding: UTF-8
      string: '{"searchID":"957861","page":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"searchID":957861,"page":1,"pageCount":18,"resultCount":443,[...]
[...]
