---
http_interactions:
- request:
    method: post
    uri: https://lngnoticeboard.onegov.nsw.gov.au/lngnoticeboard/v1/applicationsearch/perform
    body:
      encoding: UTF-8
      string: '{"paginationCriteria":{"currentPage":1,"pageSize":25},"type":"Advanced","criteria":[{"type":"PostedDate","condition":{"start":"2026-07-14","end":"2026-08-11"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"searchID":957864,"page":1,"pageCount":18,"resultCount":443,"resultsPerPage":25,"exportPageApplicationsLink":"/lngnoticeboard/v1/ApplicationSearch/957864/1/applications?x-correlation-id=40e76f77-2eef-451d-95b3-71efb482ce21-957864-1","exportSearchResultApplicationsLink":"/lngnoticeboard/v1/ApplicationSearch/957864/applications?x-correlation-id=ccc8daee-c649-4e9d-ad2d-c96d8ca09de7-957864","exportPageAttachmentsLink":"/lngnoticeboard/v1/ApplicationSearch/957864/1/attachments?x-correlation-id=b067de0b-0332-46d0-8784-5fb79983d6f8-957864-1","results":[{"id":490837,"name":"Vanilla
        Bean","form":"AM0321","oldName":"Vanilla Bean","address":"109 Bentinck St,
        BATHURST NSW 2795","application":"SR0001551298","type":"Liquor licence transfer
        - with licensee consent - on premises","status":"Under assessment","posted":"11/08/2026","latitude":-33.42054,"longitude":149.58044,"lga":"Bathurst
        Regional","sa2":"Bathurst - South","pac":"CHIFLEY PD","applicationAttachmentsLink":"/lngnoticeboard/v1/Application/SR0001551298/attachments?x-correlation-id=956f66d9-92cf-4501-9a51-2e9f4389232d-SR0001551298","documents":[{"type":"Notices","attachmentID":86015,"link":"/lngnoticeboard/v1/Attachment/id/490837/19892124?x-correlation-id=2cd3143d-e8d5-47b1-ad02-f26aaed7de21-19892124","mvCattachmentID":19892124,"isVisible":true,"sourceSystem":"Online"}],"history":[{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"Approved"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"Approved"},{"date":"11/08/2026","status":"Under
        assessment"}],"eventCount":0,"events":[],"submissionClose":"10/09/2026","isExpanded":false,"ilgaReviewableFlag":false,"closingType":"Submission
        period end date","closing":"10/09/2026"},{"id":490846,"name":"Charcoal Inn
        Hotel","form":"AM0321","oldName":"Charcoal Inn Hotel","address":"Hare St,
        CASINO NSW 2470","application":"SR0001553527","type":"Liquor licence transfer
        - with licensee consent - hotel","status":"Under assessment","posted":"11/08/2026","latitude":-28.871637,"longitude":153.04382,"lga":"Richmond
        Valley","sa2":"Casino","pac":"RICHMOND PD","applicationAttachmentsLink":"/lngnoticeboard/v1/Application/SR0001553527/attachme[...]
- request:
    method: post
    uri: https://lngnoticeboard.onegov.nsw.gov.au/lngnoticeboard/v1/applicationsearch/page
    body:
      encoding: UTF-8
      string: '{"searchID":"957864","page":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"searchID":957864,"page":1,"pageCount":18,"resultCount":443,[...]
[...]
