---
http_interactions:
- request:
    method: post
    uri: https://lngnoticeboard.onegov.nsw.gov.au/lngnoticeboard/v1/applicationsearch/perform
    body:
      encoding: UTF-8
      string: '{"paginationCriteria":{"currentPage":1,"pageSize":25},"type":"Advanced","criteria":[{"type":"PostedDate","condition":{"start":"2026-07-14","end":"2026-08-11"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"searchID":957860,"page":1,"pageCount":18,"resultCount":443,"resultsPerPage":25,"exportPageApplicationsLink":"/lngnoticeboard/v1/ApplicationSearch/957860/1/applications?x-correlation-id=2c07bef7-64d8-497e-ac54-cacba700bd7f-957860-1","exportSearchResultApplicationsLink":"/lngnoticeboard/v1/ApplicationSearch/957860/applications?x-correlation-id=3fb9cc85-f5a9-42af-b563-14f088aabd2b-957860","exportPageAttachmentsLink":"/lngnoticeboard/v1/ApplicationSearch/957860/1/attachments?x-correlation-id=55b6f1ae-2d1d-4252-846b-a04319ec45c5-957860-1","results":[{"id":490842,"name":"Novotel
        and Ibis Hotel Sydney Olympic Park","form":"AM0031","oldName":"Novotel and
        Ibis Hotel Sydney Olympic Park","address":"Dawn Fraser Road and the Ulang,,
        Sydney olympic park NSW 2127","application":"SR0001553543","type":"Large scale
        commercial event","status":"Under assessment","posted":"11/08/2026","applicationAttachmentsLink":"/lngnoticeboard/v1/Application/SR0001553543/attachments?x-correlation-id=e5324e2a-50e2-40fd-b7c5-8802d0418682-SR0001553543","documents":[{"type":"Plan","attachmentID":86023,"link":"/lngnoticeboard/v1/Attachment/llmid/490842/50766?x-correlation-id=a4088adc-6174-46d8-9336-9db3181e1818-50766","isVisible":true,"llMattachmentID":50766,"sourceSystem":"LLM"}],"history":[{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"Approved"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"undetermined"},{"date":"11/08/2026","status":"Approved"},{"date":"11/08/2026","status":"Under
        assessment"}],"eventCount":1,"events":[{"sequence":1,"eventDate":"Sunday,
        04 October 2026","startTime":"01:00 PM","endTime":"11:30 PM"}],"submissionClose":"25/08/2026","isExpanded":false,"ilgaReviewableFlag":false,"closingType":"Submission
        period end date","closing":"25/08/2026"},{"id":490843,"name":"Novotel and
        Ibis Hotel Sydney Olympic Park","form":"AM0030","oldName":"Novotel and Ibis
        Hotel Sydney Olympic Park","address":"Dawn Fraser Road and the Ulang,, Sydney
        olympic park NSW 2127","application":"SR0001553548","type":"Function on other
        premises authorisation - hotel","status":"Under assessment","posted":"11/08/2026","applicationAttachmentsLink":"/lngnoticeboard/v1/Application/SR0001553548/attachments?x-correlation-id=8205[...]
- request:
    method: post
    uri: https://lngnoticeboard.onegov.nsw.gov.au/lngnoticeboard/v1/applicationsearch/page
    body:
      encoding: UTF-8
      string: '{"searchID":"957860","page":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"searchID":957860,"page":1,"pageCount":18,"resultCount":443,[...]
- request:
    method: post
    uri: https://lngnoticeboard.onegov.nsw.gov.au/lngnoticeboard/v1/applicationsearch/page
    body:
      encoding: UTF-8
      string: '{"searchID":"957860","page":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"searchID":957860,"page":2,"pageCount":18,"resultCount":443,"resultsPerPage":25,"exportPageApplicationsLink":"/lngnoticeboard/v1/ApplicationSearch/957860/2/applications?x-correlation-id=ef334cd9-730b-44b5-8f32-c0f8d1f03669-957860-2","exportSearchResultApplicationsLink":"/lngnoticeboard/v1/ApplicationSearch/957860/applications?x-correlation-id=aaad47af-08ec-4b81-a655-debc55a64cfa-957860","exportPageAttachmentsLink":"/lngnoticeboard/v1/ApplicationSearch/957860/2/attachments?x-correlation-id=c1aeac67-b9a3-4e44-be77-5f571974ec03-957860-2","results":[{"id":490801,"name":"We
        of The Nevertire Inc","form":"APP500","oldName":"We of The Nevertire Inc","address":"18
        GOBABLA ST, NEVERTIRE NSW 2826","application":"APP-0016704934","type":"New
        licence - limited - single function","status":"Under assessment","posted":"10/08/2026","latitude":-31.835588,"longitude":147.71518,"lga":"Warren","sa2":"Nyngan
        - Warren","pac":"ORANA MID WESTERN PD","applicationAttachmentsLink":"/lngnoticeboard/v1/Application/APP-0016704934/attachments?x-correlation-id=b5da4543-f04c-4aa3-b203-c9f9e0c35fd1-APP-0016704934","documents":[{"type":"Plan","attachmentID":85946,"link":"/lngnoticeboard/v1/Attachment/id/490801/19886231?x-correlation-id=ae6fc442-9b83-4459-8300-7acc7e541db8-19886231","mvCattachmentID":19886231,"isVisible":true,"sourceSystem":"Online"}],"history":[{"date":"09/08/2026","status":"undetermined"},{"date":"09/08/2026","status":"undetermined"},{"date":"09/08/2026","status":"undetermined"},{"date":"09/08/2026","status":"undetermined"},{"date":"09/08/2026","status":"undetermined"},{"date":"09/08/2026","status":"undetermined"},{"date":"09/08/2026","status":"Approved"},{"date":"09/08/2026","status":"undetermined"},{"date":"09/08/2026","status":"undetermined"},{"date":"09/08/2026","statu[...]
[...]
